:root {
    font-size: 16px;
    font-family: 'system-ui', sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg--header: brown;
    --bg--catalogue: rgb(250, 235, 230);
    --header-size: 20vh;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/*Header styling*/
.header {
    background: var(--bg--header);
    color: var(--text-secondary);
    height: var(--header-size);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
    padding: 1rem;
}

/*Content styling*/
.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    background: var(--bg--catalogue);
    height: calc(100vh - var(--header-size));
    width: 100vw;
}
